.container_photo{
    background-color: #f9ca24;
    width: vw;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container_photo span{
    background-color: #2d2d2d;
    color: #f9ca24;
    padding: 25px 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: bold;
}