<div class="container">
    <div class="container_cardapio">

        <div class="tipo"> Pasteis </div>
            <div class="border"> 
                <app-card sabor="Calabresa com Queijo " preco="8" ></app-card>
                <app-card sabor="Carne " preco="8" ></app-card>
                <app-card  sabor="Carne com Queijo " preco="8" ></app-card>
                <app-card sabor="Carne com Ovo " preco="8" ></app-card>
                <app-card sabor="Carne Seca com Queijo " preco="10" ></app-card>
                <app-card sabor="Frango com Catupiry " preco="8" ></app-card>
                <app-card sabor="Frango com Queijo " preco="8" ></app-card>
                <app-card sabor="Palmito " preco="8" ></app-card>
                <app-card sabor="Presunto e Queijo " preco="8" ></app-card>
                <app-card sabor="Queijo " preco="8" ></app-card>
            </div>

            <div class="tipo"> Pasteis Doces</div>
                <div class="border">
                    <app-card sabor="Brigadeiro" preco="10"></app-card>
                    <app-card sabor="Doce de Leite com Banana e Mussarela" preco="10"></app-card>
                    <app-card sabor="Romeu e Julieta" preco="10"></app-card>
                    <app-card sabor="Prestígio" preco="10"></app-card>
                </div>
        
            <div class="tipo"> Salgados </div>
            <div class="border"> 
                <app-card produto="Bolinho de Carne" preco="7"></app-card>
                <app-card produto="Calabresa com Queijo" preco="7"></app-card>
                <app-card produto="Coxinha de Carne" preco="5"></app-card>
                <app-card produto="Coxinha de Frango" preco="5"></app-card>
                <app-card produto="Empada Frita" preco="6"></app-card>
                <app-card produto="Enroladinho de Salsicha" preco="7"></app-card>
                <app-card produto="Esfirra de Carne" preco="7"></app-card>
                <app-card produto="Esfirra de Frango" preco="7"></app-card>
                <app-card produto="Hamburgão" preco="7"></app-card>
                <app-card produto="Presunto e Queijo" preco="7"></app-card>
                <app-card produto="Risoles" preco="5"></app-card>
            </div>

            <div class="tipo">Bebidas</div>
            <div class="border">
                <app-card produto="Suco de Abacaxi" preco="7"></app-card>
                <app-card produto="Suco de Abacaxi com Hortelã" preco="7"></app-card>
                <app-card produto="Suco de Acerola" preco="7"></app-card>
                <app-card produto="Suco de Caju" preco="7"></app-card>
                <app-card produto="Suco de Laranja" preco="7"></app-card>
                <app-card produto="Suco de Laranja com Acerola" preco="7"></app-card>
                <app-card produto="Suco de Limão" preco="7"></app-card>
                <app-card produto="Suco de Maracujá" preco="7"></app-card>
                <app-card produto="Suco de Uva" preco="7"></app-card>
                <app-card produto="Refrigerante 200ml" preco=""></app-card>
                <app-card produto="Refrigerante 600ml" preco=""></app-card>
                <app-card produto="Refrigerante 1lt" preco=""></app-card>
                <app-card produto="Refrigerante Lata" preco=""></app-card>
                <app-card produto="Suco del Valle" preco=""></app-card>
            </div>
        
    </div>
</div>
